extends layout


block content 

  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title List of Blogs 
    
    
    body#all-blogs-body
      div.jumbotron#all-blogs-section
        h1.display-4.d-flex.justify-content-center#all-blogs-main-title User Posts
        p.lead.d-flex.justify-content-center#all-blogs-sub-title View all astonishing thoughts below.
        hr.my-4

        each blog in blogs
            div.styleEachBlog
                h4#users-blog-title Title: #{blog.title}
                p#users-blog-post Message:  #{blog.message}
                if blog.author 
                  p#users-name Author: #{blog.author}
                if user 
                  if user.username == blog.author
                      a.btn.btn-primary#sign-in-button(href=`/blog/edit/${blog._id}`) Edit
                      a.btn.btn-primary#sign-in-button(href=`/blog/delete/${blog._id}`) Delete
                hr
        h1(style="text-align: center") The End

    a.btn.btn-primary#sign-in-button(href="/") Home Page
    a.btn.btn-primary#sign-in-button(href="/SignIn") Sign In To Make Your Own Blog Now