extends layout 

block content 

  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Sign Up below 


    body#sign-up-body

      h1#sign-up-title  Sign up below! 

      //- if errors
      //-   each error in errors
      //-     p.alert.alert-danger(style="color:red") #{error.msg}
      
      if DBerror
        p.alert.alert-danger(style="color:red") #{DBerror.errors.username.properties.message}

      form(method="POST", action="/signUp")#main-sign-up-form

        div.form-group
          label(for="name") First Name: 
          input.form-control.lg#sign-up-form-group(name="name", type="text",placeholder="First Name")
          if(errors)
            for error in errors 
              if (error.param=='name')
                p.alert.alert-danger(style="color:red") #{error.msg}

        .form-group-sign-up  
          label(for="email") Email: 
          input.form-control.lg#sign-up-form-group(name="email", type="text", placeholder="Email")
          if(errors)
            for error in errors
              if (error.param=='email')
                p.alert.alert-danger(style="color:red") #{error.msg}
        div.form-group-sign-up      
          label(for="username") Username: 
          input.form-control.lg#sign-up-form-group(name="username", type="text",  aria-label="Username", placeholder="Username")
          if(errors)
            for error in errors 
              if (error.param=='username')
                p.alert.alert-danger(style="color:red") #{error.msg}

        div.form-group-sign-up 
          label(for="password") Password: 
          input.form-control.lg#sign-up-form-group(#sign-up-form-group  name="password", type="password", placeholder="Password")
          if(errors)
            for error in errors 
              if (error.param=='password')
                p.alert.alert-danger(style="color:red") #{error.msg}
       
        div.form-group-sign-up
          label(for="passwordConfirm") Password Confirm: 
          input.form-control.lg#sign-up-form-group(name="passwordConfirm", type="password", placeholder="Password Confirm")
       
        div.form-group-submit
          input.btn.btn-primary.input-control.form-control.lg(type="submit")